<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<dict>
	<key>Google Chrome.app</key>
	<array>
		<string>~/Applications/Chrome Apps.localized</string>
	</array>
	<key>Dropbox.app</key>
	<array>
		<string>/Library/DropboxHelperTools/</string>
	</array>
	<key>Xcode.app</key>
	<array>
		<string>~/System/</string>
	</array>
	<key>VirtualBox.app</key>
	<array>
		<string>~/VirtualBox VMs/</string>
		<string>/Library/VirtualBox/</string>
		<string>~/Library/LaunchAgents/org.virtualbox.vboxwebsrv.plist</string>
		<string>/Library/Application Support/VirtualBox/</string>
		<string>/Library/LaunchDaemons/org.virtualbox.startup.plist</string>
		<string>/Library/Preferences/VirtualBox/</string>
	</array>
	<key>GoToMeeting.app</key>
	<array>
		<string>/Applications/GoToMeeting/</string>
		<string>~/Library/LaunchAgents/com.citrixonline.GoToMeeting.G2MUpdate.plist</string>
		<string>~/Library/Application Support/CitrixOnline/</string>
	</array>
	<key>MacKeeper.app</key>
	<array>
		<string>~/Library/Caches/com.mackeeper.MacKeeper.Helper/</string>
		<string>~/Library/Caches/com.mackeeper.MacKeeper.MKCleanService/</string>
		<string>~/Library/LaunchAgents/com.mackeeper.MacKeeper.Helper.plist</string>
		<string>~/Library/Preferences/com.mackeeper.MacKeeper.Helper.plist</string>
		<string>~/Library/Application Support/MacKeeper Helper/</string>
		<string>~/Library/LaunchDaemons/com.mackeeper.MacKeeper.plugin.AntiTheft.daemon.plist</string>
		<string>~/Documents/MacKeeper Backups/</string>
	</array>
	<key>Parallels Desktop.app</key>
	<array>
		<string>~/Documents/Parallels/</string>
		<string>~/Library/Parallels/</string>
		<string>/Library/Preferences/Parallels/</string>
	</array>
	<key>VM Ware</key>
	<array>
		<string></string>
	</array>
	<key>Spotify.app</key>
	<array>
		<string>~/Library/LaunchAgents/com.spotify.webhelper.plist</string>
	</array>
	<key>Steam.app</key>
	<array>
		<string>~/Library/LaunchAgents/com.valvesoftware.steamclean.plist</string>
	</array>
</dict>
</plist>
