<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JustCloud.app</key>
	<array>
		<string>/private/var/db/receipts/com.jdibackup.JustCloud.pkg.plist</string>
		<string>/private/var/db/receipts/com.jdibackup.JustCloud.pkg.bom</string>
		<string>/private/var/db/BootCaches/838F255F-2063-47C5-AB0D-D701E4318A59/app.com.jdibackup.JustCloud.playlist</string>
		<string>~/Library/LaunchAgents/com.jdibackup.JustCloud.notify.plist</string>
		<string>~/Library/LaunchAgents/com.jdibackup.JustCloud.autostart.plist</string>
		<string>~/Library/Logs/JustCloud/</string>
		<string>~/Library/Application Support/com.apple.sharedfilelist/com.apple.LSSharedFileList.ApplicationRecentDocuments/com.jdibackup.justcloud.sfl</string>
	</array>
	<key>MacKeeper.app</key>
	<array>
		<string>~//Library/Logs/MacKeeper.log</string>
		<string>~/Library/Logs/MacKeeper.log</string>
		<string>~/Library/Preferences/.3FAD0F65-FC6E-4889-B975-B96CBF807B78</string>
		<string>/Applications/MacKeeper.app</string>
		<string>~/Library/Caches/com.mackeeper.MacKeeper/</string>
		<string>~/Library/Caches/com.mackeeper.MacKeeper.Helper/</string>
		<string>~/Library/Caches/com.mackeeper.MacKeeper.MKCleanService/</string>
		<string>~/Library/Containers/com.mactrackerapp.Mactracker/</string>
		<string>~/Library/LaunchAgents/com.mackeeper.MacKeeper.Helper.plist</string>
		<string>~/Library/Preferences/com.mackeeper.MacKeeper.Helper.plist</string>
		<string>~/Library/Preferences/com.mackeeper.MacKeeper.plist</string>
		<string>~/Library/Application Support/MacKeeper Helper</string>
		<string>~/Library/LaunchDaemons/com.mackeeper.MacKeeper.plugin.AntiTheft.daemon.plist</string>
	</array>
	<key>Google Chrome.app</key>
	<array>
		<string>~/Applications/Chrome Apps.localized</string>
	</array>
	<key>Dropbox.app</key>
	<array>
		<string>/Library/DropboxHelperTools/</string>
	</array>
	<key>Xcode.app</key>
	<array>
		<string>~/System/</string>
	</array>
	<key>VirtualBox.app</key>
	<array>
		<string>~/VirtualBox VMs/</string>
		<string>/Library/VirtualBox/</string>
		<string>~/Library/LaunchAgents/org.virtualbox.vboxwebsrv.plist</string>
		<string>/Library/Application Support/VirtualBox/</string>
		<string>/Library/LaunchDaemons/org.virtualbox.startup.plist</string>
		<string>/Library/Preferences/VirtualBox/</string>
		<string>~/VirtualBox VMs/</string>
		<string>/Application Support/VirtualBox/</string>
	</array>
	<key>GoToMeeting.app</key>
	<array>
		<string>/Applications/GoToMeeting/</string>
		<string>~/Library/LaunchAgents/com.citrixonline.GoToMeeting.G2MUpdate.plist</string>
		<string>~/Library/Application Support/CitrixOnline/</string>
	</array>
	<key>Parallels Desktop.app</key>
	<array>
		<string>~/Documents/Parallels/</string>
		<string>~/Library/Parallels/</string>
		<string>/Library/Preferences/Parallels/</string>
		<string>~/Library/Preferences/com.parallels.Parallels Desktop Statistics.plist</string>
		<string>~/Library/Preferences/com.parallels.Parallels Desktop.plist</string>
		<string>~/Library/Preferences/com.parallels.PDInfo.plist</string>
		<string>~/Library/Preferences/com.parallels.Parallels.plist</string>
	</array>
	<key>VMware Fusion.app</key>
	<array>
		<string>/Library/Preferences/VMware Fusion/</string>
		<string>~/Library/Preferences/VMware Fusion/</string>
		<string>~/Documents/Virtual Machines/</string>
		<string>/Application Support/VMware/</string>
		<string>~/Application Support/VMware Fusion/</string>
	</array>
	<key>Spotify.app</key>
	<array>
		<string>~/Library/LaunchAgents/com.spotify.webhelper.plist</string>
	</array>
	<key>Steam.app</key>
	<array>
		<string>~/Library/LaunchAgents/com.valvesoftware.steamclean.plist</string>
	</array>
	<key>Adobe Photoshop Elements 14.app</key>
	<array>
		<string>/Applications/Adobe Photoshop Elements 14/</string>
		<string>/Applications/Adobe Elements 14 Organizer.app</string>
		<string>~/Library/Preferences/Adobe/</string>
		<string>~/Library/Preferences/Adobe Photoshop Elements 14 Paths</string>
		<string>~/Library/Preferences/Adobe Photoshop Elements 14 Settings/</string>
		<string>~/Library/Preferences/com.adobe.crashreporter.plist</string>
		<string>~/Library/Preferences/com.Adobe.Elements Organizer.14.0.plist</string>
		<string>~/Library/Preferences/com.adobe.Elements14.plist</string>
		<string>~/Library/Preferences/com.adobe.ElementsOrganizer14.plist</string>
		<string>~/Library/Preferences/com.adobe.PhotoshopElements.plist</string>
		<string>~/Library/Application Support/Adobe/Adobe Photoshop Elements 14/</string>
		<string>~/Library/Application Support/Adobe/Elements Organizer</string>
		<string>~/Library/Application Support/Adobe/Photoshop Elements/</string>
		<string>/Library/Application Support/Adobe/Elements Organizer/</string>
		<string>/Library/Application Support/Adobe/Photoshop Elements/</string>
		<string>/Library/Application Support/Adobe/WelcomePSE/</string>
		<string>/Library/Preferences/com.Adobe.Elements Organizer.14.0.plist</string>
		<string>/Library/Preferences/com.adobe.Elementslog.plist</string>
		<string>/Library/Preferences/com.adobe.PhotoshopElements.plist</string>
		<string>/Applications/Utilities/Adobe Installers/Uninstall Adobe Photoshop Elements 14</string>
		<string>~/Library/Caches/Adobe/</string>
		<string>~/Library/Caches/com.adobe.PhotoshopElements</string>
		<string>~/Library/Caches/com.adobe.Elements14/</string>
		<string>~/Library/Caches/com.adobe.ElementsOrganizer14</string>
		<string>/Caches/com.adobe.PhotoshopElements</string>
	</array>
	<key>Adobe Premiere Elements 14.app</key>
	<array>
		<string>/Applications/Adobe Premiere Elements 14/</string>
		<string>/Applications/Adobe Elements 14 Organizer.app</string>
		<string>~/Library/Preferences/Adobe/</string>
		<string>~/Library/Preferences/com.adobe.Adobe Premiere Elements-14.0.plist</string>
		<string>~/Library/Preferences/com.Adobe.Common 14.0.plist</string>
		<string>~/Library/Preferences/com.adobe.crashreporter.plist</string>
		<string>~/Library/Preferences/com.Adobe.Elements Organizer.14.0.plist</string>
		<string>~/Library/Preferences/com.adobe.Elements14.plist</string>
		<string>~/Library/Preferences/com.adobe.ElementsOrganizer14.plist</string>
		<string>~/Library/Preferences/com.Adobe.Premiere Elements.14.0.plist</string>
		<string>~/Library/Application Support/Adobe/Premiere Elements/</string>
		<string>~/Library/Caches/Adobe/</string>
		<string>~/Library/Caches/com.adobe.Adobe Premiere Elements-14.0/</string>
		<string>~/Library/Caches/com.adobe.ElementsOrganizer14/</string>
		<string>~/Library/Caches/com.adobe.Elements14/</string>
		<string>/Library/Application Support/Adobe/Elements Organizer/</string>
		<string>/Library/Preferences/com.Adobe.Premiere Elements.14.0.plist</string>
		<string>/Caches/com.adobe.Adobe Premiere Elements-14.0/</string>
	</array>
</dict>
</plist>
